<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <title>TopGenius.eu</title>
    </head>
    <body>
        <main role="main">
            <div class="container">
                <div class="jumbotron">
                    <p class="lead">TopGenius.eu</p>
                    <hr>
                    {{#unless hasSession}}
                        <form class="form-inline alert alert-warning" method="post" action="/sessions/init">
                            <button type="submit" class="btn btn-outline-secondary" id="buttonAccept">
                                Accept
                            </button>
                            cookies to store a per-user cache of Last.fm. Otherwise, there is no cache.
                        </form>
                    {{/unless}}
                </div>
                <p>Web Application comparing 3 different approaches for template views:</p>
                <ul>
                    <li><a href="/handlebars">Handlebars</a></li>
                    <li><a href="/react">ReactJS</a></li>
                    <li><a href="/htmlflow">HtmlFlow</a></li>
                </ul>
            </div>
            <hr>
        </main>
        <footer class="footer mt-auto py-3">
            <div class="container">
                <a href="https://www.last.fm" target="_blank">
                    <span class="text-muted">Powered by AudioScrobbler</span>
                    <img src="/img/AudioScrobbler.png" height="40">
                </a>
          </div>
        </footer>
    </body>
</html>