<table class="table">
    <tr>
        <th>Rank</th>
        <th>Track</th>
        <th>Listeners</th>
    </tr>
    {{#each tracks}}
        <tr>
            <td>{{@index}}</td>
            <td>
                <a href='{{url}}' target="_blank">
                    {{name}}
                </a>
            </td>
            <td>{{listeners}}</td>
        </tr>
    {{/each}}
</table>