<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <title>jingle</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <p class="lead">jingle</p>
                <hr>
            </div>
            <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Listeners</th>
                        <th>Image</th>
                    </tr>
                    {{#each artists}}
                        <tr>
                            <td>
                                <a href='/tracks/{{mbid}}'>
                                    {{name}}
                                </a>
                            </td>
                            <td>{{listeners}}</td>
                            <td><img src="{{image}}" width="50px"></td>
                        </tr>
                    {{/each}}
                </table>

        </div>
    </body>
</html>